

<div class="scrollable">
    <div class="scrollable-content">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">

                    <div class="col-md-2">
                    </div>
                    <div class="col-md-4">
                        <p>My places delivered by Neo4j</p>
                        <div id="map-container">
                            <!--<leaflet></leaflet>-->
                            <map center="current-location" zoom="18">
                                <info-window position="current-location" visible="true">
                                    <span>You are here.</span>
                                </info-window>
                            </map>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div id="graph-container">
                            <div class="graph-nodes" vivagraph-test>
                            </div>
                            <!--<svg xmlns="http://www.w3.org/2000/svg" version="1.1" vivagraph-test></svg>-->
                            <!--<div id="graph-container" sigma-test></div>-->
                            <!--<svg id="graphic_1" xmlns="http://www.w3.org/2000/svg" version="1.1" snap-test></svg>-->
                            <!--<svg xmlns="http://www.w3.org/2000/svg" version="1.1" d3-test></svg>-->

                        </div>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        <label>Birthday: <input kendo-date-picker k-options="monthPickerConfig" ng-model="birthday" /></label>
                        Your selection: {{ birthday }}

                        <div class="place-section k-header wide">
                            <div kendo-list-view id="listView" k-data-source="source">
                                <div class="place" k-template>
                                    <!--<img ng-src="../content/web/foods/{{dataItem.ProductID}}.jpg" alt=" {{dataItem.ProductName}} image" />-->
                                    <h3>{{ dataItem.name }}</h3>
                                    <p>{{ dataItem.address }}</p>
                                </div>
                            </div>
                            <div kendo-pager k-data-source="source"></div>
                        </div>
                    </div>
                    <div class="col-md-2">


                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>


